# Backend
DEBUG=0
SECRET_KEY=Enter-Your-Secret-Key-TIMELY-API-SECRET-KEY
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=test_db
DATABASE_USER=test_user
DATABASE_PASSWORD=test_password
DATABASE_HOST=localhost
DATABASE_PORT=5432

# CORS Settings
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
CORS_ALLOW_CREDENTIALS=True
